@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color:  #1F1F29;;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

.sidebarcontainer {
  display: block;
  /* flex: 1; */
  /* max-width: 270px !important; */
  height: min-content !important;
  position: sticky;
  top: 5px;
}
.grid-container-game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  /* / border: 1px solid red; / */
}



.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333e7;
  z-index: 100000;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #dddddd;
  border-top-color: #009578;
  animation: loading 0.75s linear infinite;
}


h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.container strong {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fullscreen-mode {
  overflow: hidden;
}

@media (max-width: 768px) {
  .truncate-text {
    -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}










@media (max-width: 767px) {

  .sidebarcontainer{
    display: none;
    
  }
}

@media (max-width: 800px) {
  .grid-container-game {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr)) !important;
    /* / gap: 20px; / */
    justify-content: center;
    /* / border: 1px solid red; / */
  }
}

@media (max-width: 400px) {
  .grid-container-game {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
    /* / gap: 20px; / */
    justify-content: center;
    /* / border: 1px solid red; / */
  }
}

