@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color:  #1F1F29;;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

.sidebarcontainer {
  display: block;
  /* flex: 1; */
  /* max-width: 270px !important; */
  height: min-content !important;
  position: sticky;
  top: 5px;
}
.grid-container-game {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  /* / border: 1px solid red; / */
}



.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333e7;
  z-index: 100000;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #dddddd;
  border-top-color: #009578;
  animation: loading 0.75s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}










@media (max-width: 767px) {

  .sidebarcontainer{
    display: none;
    
  }
}

@media (max-width: 800px) {
  .grid-container-game {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr)) !important;
    /* / gap: 20px; / */
    justify-content: center;
    /* / border: 1px solid red; / */
  }
}

@media (max-width: 400px) {
  .grid-container-game {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
    /* / gap: 20px; / */
    justify-content: center;
    /* / border: 1px solid red; / */
  }
}

